[global]
type=global
user_agent=Kies

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

[outbound-auth]
type=auth
auth_type=userpass
username=${SIP_USERNAME}
password=${SIP_PASSWORD}

[outbound-aor]
type=aor
contact=sip:${SIP_HOST}:${SIP_PORT}
qualify_frequency=60

[outbound]
type=endpoint
transport=transport-udp
context=from-outbound
disallow=all
allow=alaw,ulaw
outbound_auth=outbound-auth
aors=outbound-aor
from_user=${SIP_USERNAME}

[outbound-registration]
type=registration
transport=transport-udp
outbound_auth=outbound-auth
server_uri=sip:${SIP_HOST}:${SIP_PORT}
client_uri=sip:${SIP_USERNAME}@${SIP_HOST}
retry_interval=60
forbidden_retry_interval=300
expiration=300
line=yes
endpoint=outbound
